<!DOCTYPE html>
<html xmlns="http:/ /www.w3.org/1999/xhtml"
	xmlns:th="http:/ /www.thymeleaf.org">
<head>
<title>News</title>
<div th:insert="part/common.html :: #head-part"></div>
<script
	src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
	integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
	crossorigin="anonymous"></script>
<script type="text/javascript"
	src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script>
	$(function() {

		// Start counting from the third row

		$("#insertRow1")
				.on(
						"click",
						function(event) {
							event.preventDefault();

							var newRow = $("<tr>");
							var cols = '';

							// Table columns
							cols += '<td><input th:field="*{imgs}" class="form-control " type="text" name="imgs" placeholder="Link"></td>';
							cols += '<td><button class="btn btn-outline-danger" id ="deleteRow">Delete</button</td>';

							// Insert the columns inside a row
							newRow.append(cols);

							// Insert the row inside a table
							$("table").append(newRow);

							// Increase counter after each row insertion
						});

		// Remove row when delete btn is clicked
		$("table").on("click", "#deleteRow", function(event) {
			$(this).closest("tr").remove();
		});
	});
</script>
<style>
td {
	vertical-align: middle;
	text-align: center;
}

th {
	vertical-align: middle;
	text-align: center;
}
</style>
</head>
<body>

	<div class="container">
		<div th:insert="part/navbar.html :: #menu"></div>


		<div class="row d-flex justify-content-center">

			<form class="row d-flex justify-content-center" th:object="${news}"
				method="POST" th:action="@{/edit/update}">
				<div class="col-10 ">
					<div class="card shadow ">
						<!-- Title START -->
						<div class="card-header border-0 lead bg-secondary text-white">
							<h1 class="h4 card-title mb-0">Create a news</h1>
						</div>
						<!-- Title END -->
						<!-- Create a page form START -->
						<div class="card-body p-5">
							<div class="row g-3">

								<!-- News title -->
								<div class="col-12 my-3">
									<label class="form-label">Title</label>
									<input th:field="*{head}" name="head" type="text"
										class="form-control" placeholder="Title of news (Required)">
									<small>Name that describes what the news is about.</small>
								</div>

								<!-- Display name -->
								<div class="col-sm-6 col-lg-4 my-3">
									<label class="form-label">Importance of news</label>
									<div class="input-group has-validation">
										<span class="input-group-text"
											id="validationTooltipUsernamePrepend">Importance</span>
										<select th:field="*{importance}" name="important"
											class="form-select" id="validationTooltip04" required>
											<option selected disabled value="">Choose
												important...</option>
											<option th:each="important : ${importance}"
												th:text="${important}" th:value="${important}">...</option>
										</select>
										<div class="invalid-tooltip">Please select a valid
											state.</div>
									</div>

								</div>
								<!-- Email -->
								<div class="col-sm-6 col-lg-4 my-3">
									<label class="form-label">Topic of news</label>
									<div class="input-group has-validation">
										<span class="input-group-text"
											id="validationTooltipUsernamePrepend">Topic</span>
										<select th:field="*{topics}" name="topic" class="form-select"
											id="validationTooltip04" required>
											<option selected disabled value="">Choose topic...</option>
											<option th:each="topic : ${topics}" th:text="${topic}"
												th:value="${topic}">...</option>
										</select>
										<div class="invalid-tooltip">Please select a valid
											state.</div>
									</div>
								</div>



								<!-- Page information -->
								<div class="col-12 my-3">
									<label class="form-label">News body</label>
									<textarea th:field="*{body}" class="form-control" name="body"
										rows="8" placeholder="Body (Required)"></textarea>
									<small>Character limit: 300</small>
								</div>

								<!-- Images -->
								<label>Images Links</label>
								<div class="col-10">
									<a class="btn btn-outline-secondary" id="insertRow1">Add
										image link</a>
									<button type="button"
										class=" dropdown btn btn-transparent dropdown-toggle"
										data-bs-toggle="dropdown" aria-expanded="false"
										data-bs-auto-close="outside">Info</button>
									<div class="dropdown-menu bg-light p-3">
										<div class="">
											<label for="exampleDropdownFormEmail2" class="form-label">You
												need copy image link </label>
										</div>

										<img th:src="@{/images/copyImageLink.png}" width="380px"
											style="border-radius: 10px; filter: brightness(70%);"
											alt="img">

									</div>
								</div>
								<div class="col-12 my-2">
									<div class="table-responsive">
										<table class="table">
											<thead>
												<tr>
													<th scope="col"></th>
													<th scope="col"></th>
												</tr>
											</thead>
											<tbody>
											</tbody>
										</table>
									</div>
								</div>


								<!-- Social Links START -->
								<div class="col-12 my-3">
									<h5 class="card-title mb-0">Another Info</h5>
								</div>
								<!-- Video links -->
								<div class="col-sm-6 my-3">
									<label class="form-label">Video link</label>
									<div class="input-group">
										<div class="dropdown">
											<button type="button" class="btn btn-light dropdown-toggle"
												data-bs-toggle="dropdown" aria-expanded="false"
												data-bs-auto-close="outside">Info</button>
											<div class="dropdown-menu bg-light p-3">
												<div class="">
													<label for="exampleDropdownFormEmail2" class="form-label">You
														need copy link </label>
												</div>

												<img th:src="@{/images/infoVideoLink.png}" width="380px"
													style="border-radius: 10px; filter: brightness(70%);"
													alt="img">

											</div>
										</div>
										<input th:field="*{video}" type="text" name="video"
											class="form-control"
											placeholder="https://www.youtube.com/{id}">
									</div>
								</div>
								<!-- Sources -->
								<div class="col-sm-6 my-3">
									<label class="form-label">Sources</label>
									<div class="input-group">
										<span class="input-group-text border-0"> http// </span>
										<input th:field="*{sources}" type="text" name="sources"
											class="form-control" placeholder="https://www...">
									</div>
								</div>


								<!-- Button  -->
								<div class="col-10">
									<input type="hidden">
								</div>
								<div class="col-2 my-4">
									<button type="submit" class="btn btn-primary mb-0 w-100">Create
										a news</button>
								</div>
							</div>
						</div>
						<div class="card-footer border-0 bg-secondary"></div>
						<!-- Create a page form END -->
					</div>
				</div>
				<input type="hidden" th:field="*{author}" name="author" />
			</form>



			<div class="col-10 my-5" th:object="${deleteImgList}" id="imgs">
				<div class="row  row-cols-3 "
					data-masonry='{"percentPosition": true }'>
					<div class="col" th:each="img : ${news.imgs}">
						<div class="card shadow mx-3 my-3">
							<img class="" th:src="${img}" alt="img">

							<form method="get" th:unless="${deleteImgList.contains(img)}"
								class="card-body" th:action="@{'/edit/delete'}">
								<input type="hidden" th:value="${img}" name="img">
								<button class="btn btn-sm btn-outline-secondary w-50"
									type="submit">Delete</button>
							</form>

							<form method="get" th:if="${deleteImgList.contains(img)}"
								th:action="@{'/edit/back'}" class="card-body text-end">
								<input type="hidden" th:value="${img}" name="img">
								<button class="btn btn-sm btn-outline-primary w-50"
									type="submit">Back</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>




		<div th:insert="part/common.html :: #script-part"></div>
		<div th:insert="part/common.html :: #footer"></div>
	</div>
</body>
</html>